/* ===================================
1. General
==================================== */

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.6em;
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.1em;
    color: #444;
    margin-bottom: 2%;
}


/* ===================================
2. layout
==================================== */

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    margin-bottom: 2%;
}

#pictures {
    width: 100%;
    background: #fcfcfc;
    position: relative;
    margin: 0;
    padding: 0;
}


/* ===================================
3. Header
==================================== */


/* === header === */


/* top area */

header .top .row {
    margin-bottom: 0;
}

header .top {
    padding: 20px 0;
    margin: 0;
    background: #f2f2f2;
}

header .top {
    border-bottom: 1px solid #ddd;
}


/* -- end top area */

header .navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
}

header .navbar-collapse ul.navbar-nav {
    float: right;
    margin-right: 0;
}

header .navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header .navbar {
    min-height: 100px;
}

header .navbar-nav>li {
    padding-bottom: 30px;
    padding-top: 30px;
}

header .navbar-nav>li>a {
    padding-bottom: 6px;
    padding-top: 5px;
    margin-left: 2px;
    line-height: 30px;
    font-weight: 700;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #fff;
}

.navbar-brand {
    margin-top: 10px;
    border-bottom: none;
}


/* --- menu --- */

header .navigation {
    float: right;
}

header ul.nav li {
    border: none;
    margin: 0;
}

header ul.nav li a {
    font-size: 12px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar .nav>li>a {
    color: #444;
    text-shadow: none;
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover {
    background: none;
    font-weight: 700;
}

.navbar .nav>.active>a:active,
.navbar .nav>.active>a:focus {
    background: none;
    outline: 0;
    font-weight: 700;
}


/* ===================================
4. Section: call to action
==================================== */

#calltoaction {
    background: #fafafa;
}

.cta-btn {
    float: right;
    padding: 20px;
}


/* ===================================
5. Section: Content
==================================== */

#content {
    position: relative;
    background: #fff;
    padding: 60px 0 40px 0;
}


/* --- box --- */

.box {
    width: 100%;
}

.aligncenter {
    text-align: center;
}


/* ===================================
6. Section: Social media
==================================== */

ul.social-network {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* ===================================
7. Section: Colour
==================================== */

a,
a:hover,
a:focus,
a:active,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus,
.navbar .nav>.active>a:focus {
    color: #D30035;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover {
    color: #D30035;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #D30035;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #D30035;
}


/* buttons */

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    background: #D30035;
    border: 1px solid #D30035;
}

.btn-theme {
    border: 1px solid #D30035;
    background: #D30035;
    color: #fff;
}

.btn-theme:hover {
    color: #eee;
}


/* =============================
21. Media queries 
============================= */

@media (min-width: 979px) and (max-width: 1200px) {
    #wrapper.boxed {
        width: 1000px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #wrapper.boxed {
        width: 784px;
        margin: 0 auto;
    }
    a.detail {
        background: none;
        width: 100%;
    }
    footer .widget form input#appendedInputButton {
        display: block;
        width: 91%;
        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
    }
    footer .widget form .input-append .btn {
        display: block;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
    #wrapper.boxed {
        width: 90%;
        margin: 0 auto;
    }
    .navbar-brand {
        margin-top: 0px;
        border-bottom: none;
    }
    .navbar-header {
        margin-top: 20px;
        border-bottom: none;
    }
    .navbar-nav {
        border-top: none;
        padding-top: 30px;
        float: none;
        width: 100%;
    }
    header .navbar-nav>li {
        padding-bottom: 0;
        padding-top: 0;
    }
    .navbar-collapse.collapse {
        border: none;
        overflow: hidden;
    }
    .box {
        padding: 20px 0;
        margin-bottom: 20px;
    }
    footer .col-lg-1,
    footer .col-lg-2,
    footer .col-lg-3,
    footer .col-lg-4,
    footer .col-lg-5,
    footer .col-lg-6,
    footer .col-lg-7,
    footer .col-lg-8,
    footer .col-lg-9,
    footer .col-lg-10,
    footer .col-lg-11,
    footer .col-lg-12 {
        margin-bottom: 20px;
    }
    #sub-footer ul.social-network {
        float: left;
    }
    [class*="span"] {
        margin-bottom: 20px;
    }
}

@media (max-width: 360px) {}